@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #111;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.w_full {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper {
  overflow: hidden;
}

.wrapper.themaBlack {
  background-color: #111;
  color: #fff;
}

.wrapper.themaBlack a {
  color: #fff;
}

.wrapper.themaWhite {
  background-color: #fff;
  color: #111;
}

.wrapper.themaWhite a {
  color: #111;
}

.header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  width: 150px;
}

.header .btn_thema {
  cursor: pointer;
}

.themaBlack .btn_thema {
  fill: #fff;
}

.themaBlack .btn_thema svg:nth-child(1) {
  display: block;
}

.themaBlack .btn_thema svg:nth-child(2) {
  display: none;
}

.themaWhite .btn_thema {
  fill: #111;
}

.themaWhite .btn_thema svg:nth-child(1) {
  display: none;
}

.themaWhite .btn_thema svg:nth-child(2) {
  display: block;
}

.con {
  padding: 40px 0;
}

.con > .title {
  margin-bottom: 25px;
  font-size: 30px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
  top: -30px;
  right: 0;
  left: auto;
  bottom: auto;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  width: 50px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.loading svg {
  width: 5vw;
  height: 5vw;
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rotate_image 2s ease-in-out infinite;
          animation: rotate_image 2s ease-in-out infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes rotate_image {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate_image {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*# sourceMappingURL=common.css.map */