.movies {
  .swiper-slide:nth-child(n + 10) {
    .num {
      top: 12%;
      left: -4%;
      transform: rotate(-90deg);
      font-size: 19vw;
    }
  }
  .movie {
    position: relative;
    .num {
      font-family: "Roboto", sans-serif;
      font-size: 23vw;
      font-weight: 900;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: #000;
      text-shadow: 0 0 10px rgba(225, 225, 225, 1);
      letter-spacing: -2vw;
    }
    .img {
      width: 60%;
      margin: 0 0 0 auto;
      position: relative;
      z-index: 2;
      img {
        width: 100%;
      }
      .text_wrap {
        display: none;
      }
    }
    .genre {
      display: flex;
      flex-wrap: wrap;
    }
    .desc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
